@import scala.collection.JavaConversions._
@main("Learning Registry Search") {
}{
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">LR Search</a>
        </div>
        <div class="collapse navbar-collapse">
        	<lrheader/>
        </div>
      </div>
    </div>
	<div ng-view/>   
}{  
	<script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/search.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/review.js")"></script>					
}
