@(displayId: String)
@import scala.collection.JavaConversions._
@main("Learning Registry Search") {
}{
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">LR Search</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/review">Review</a></li>
          </ul>
        </div>
      </div>
    </div>
	<div class="container">
		<div class="jumbotron">
			<display id="display"/>
		</div>
	</div>
	<div class="container">
		<review id="review"/>
	</div>    
}{
	<script type="text/javascript">		
		$("#review").attr("endpoint", location.href.replace("review", "flagged"));
		$("#display").attr("endpoint", location.href.replace("review", "data"));
	</script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/review.js")"></script>
}
